<template>
  <div class="profile">
    <img src="@/assets/logo.png" alt="">
    <div class="profile__text">Username</div>
    <div class="profile__text">Email: <span>email@mail.ru</span></div>
    <ul class="profile__list">
      <li>
        <div>Posts</div>
        <p>1.2k</p>
      </li>
      <li>
        <div>Followers</div>
        <p>15M</p>
      </li>
      <li>
        <div>Follows</div>
        <p>59</p>
      </li>
    </ul>
  </div>
</template>

<script>
// @ is an alias to /src

export default {
  name: 'Home',
}
</script>

<style lang="scss">
.profile {
  img {
    width: 150px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    border-radius: 50%;
    object-position: center;
    object-fit: none;
    margin: 0 auto;
    display: flex;
  }
  &__text {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: #2c3e50;
    span {
      color: gray;
      font-weight: 600;
    }
  }
  &__list {
    gap: 30px;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    li {
      text-align: center;
      & > div {
        font-size: 18px;
        color: gray;
        font-weight: 300;
      }
      p {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 15px;
      }
    }
  }
}
</style>
