<template>
  <div class="side-bar">
    <ul class="side-bar__list">
      <li v-for="side_item in sideItems" :key="side_item.id" @click="sendUrl(side_item)">
        <router-link :to="side_item.to" exact-active-class="active">{{side_item.title}}</router-link>
      </li>
    </ul>
  </div>
</template>

<script
>
const { ipcRenderer } = require("electron")
export default {
  name: "SideBar",
  props: {
    sideItems: {
      type: Array,
      default: () => [],
      required: true
    }
  },
  methods: {
    sendUrl(item) {
      ipcRenderer.send("clickItem", item)
    }
  },
}
</script>

<style scoped lang="scss">
  .side-bar {
    min-height: 100vh;
    background-image: url("../assets/taxi-internet-security.png");
    background-size: 60%;
    background-position: center right;
    background-repeat: no-repeat;
    &__list
    {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 0;
      list-style: none;
      max-width: 400px;
      text-align: center;
      gap: 10px;
      margin: 0 20px;
      li {
        a {
          box-shadow: 1px 2px 5px rgba(0,0,0,0.5);
          border-radius: 8px;
          padding: 10px;
          color: #2c3e50;
          font-size: 18px;
          display: block;
          &.active {

          }
          &:hover {
            box-shadow: 1px 2px 15px rgba(0,0,0,0.2);
          }
        }
      }
    }
  }
</style>