<template>
  <div id="app">
    <div class="main">
      <SideBar :side-items="sideBarItems"/>
<!--      <div class="page">-->
<!--        <router-view/>-->
<!--      </div>-->
    </div>
  </div>
</template>

<style>

</style>
<script>
import SideBar from "@/components/SideBar";
export default {
  components: {SideBar},
  data() {
    return {
      sideBarItems: [
        {
          id: 1,
          to: '/pass',
          title: 'Пропуски',
          img: ''
        },
        {
          id: 2,
          to: '/change-secure-kpp',
          title: 'Сменить охрану КПП',
          img: ''
        },
        {
          id: 3,
          to: '/in-out-physical',
          title: 'Вход / выход физ.лица',
          img: ''
        },
        {
          id: 4,
          to: '/in-out-drive',
          title: 'Въезд / выезд авто',
          img: ''
        },
        {
          id: 5,
          to: '/statistics',
          title: 'Статистика',
          img: ''
        },
        {
          id: 6,
          to: '/exit',
          title: 'Выход',
          img: ''
        },
      ]
    }
  },
}
</script>